@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1586442834448'); /* IE9 */
  src: url('iconfont.eot?t=1586442834448#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABnAAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRgBNgIkAwgLBgAEIAWEbQcwG74FEdWTC2R/PW6MIQ2at3+UFhzkVO1Qffs0Oc+86I0RTLSS8cPQgsmPZNL1PHjqx9rb//dUE2qJoZl6ol1DNGkKhCbTIRSNYiEfhN3eJiyoQQ1qVGV3qspIRQYTuXngAQZ6EXtvUIk5yg0Iut6oKQO1OVff1qgINZI7v/foC0lxlOapEyCGKuWDFGE3fS1ea73AS1Y5MAWYQwYCAfD3p2omUEDmA4pLuqftQT/nHQuwYNUCjrWoZC1JyesEvHUZxyGAlywqkJalZwRDscYJIDtpfRHLxVBUKLoRnDVLFbnEgducyyNwEX5ffqkUNxgcFmvqwFrrCvmDD+zenxkfIw4CVjsAC1QACjJSm+tDEYGxeHORPNiXUuCD9Pd9yF7diPDXWagfgAxo7knr6m4VNQBo3J0HNIy6Ckwypej+cB9ba2Tv0XPquyQyjWdVFdu4Vy/u7PUY127UN1lexnY3GlWpuNCZYfbqekaBCsZ9qKBKdQv+QLrbBx0CCKTuWDXPUACeW4WRdFf6BcC9f5/wn7Q9m1TXW16jqrY2YMgbNdYAXrxAGjYU5X2sI3FTJcFN4tYCLjJTsLgpwJWuAAc+quJO3JwLBS/ltGO1jxi7KKIeoIxjAiHMLRiC3IMlzBOu9Bs4SPIPTsJiwcuYxLb0USSb2sFoBD3YPyS3b+T4RUfKG4Z3NZzVh+wLuaUkjN1QLF5xQ55jRvuESYSAeF9hodOw1h0O3jM66aLIMfc91b2pc/uqtMJoBD3YPyS3b+R3Fl36/A3DuxpuKatJX8gt9Q5jN/TAr5atV9m9vNI+YRIhIN5XWGgQ1rrDUT8oo5Mujsgcc2+3o76Wbn3b+gHVQhWWs4vdz3JDwy4qBQA=') format('woff2'),
  url('iconfont.woff?t=1586442834448') format('woff'),
  url('iconfont.ttf?t=1586442834448') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1586442834448#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e600";
}

