.bannerCell{background-color: #fff;height: 2.02rem;display: flex;justify-content: space-between;}
.bannerCell>div{vertical-align: middle}
.bannerCell img{width: 2.02rem;height: 2.02rem}
.bannerCell h2,.bannerCell__up h2{font-size: 14px;font-weight: 700;margin-bottom: 10px}
.bannerCell h3{font-size: 14px;font-weight: 300;margin-bottom: 10px}
.bannerCell p,.bannerCell__up p{
    font-size: 12px;
    line-height: 20px;
    font-weight:normal;
    color: #999;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.bannerCell span,.bannerCell__up span{font-size: 16px;font-weight:700;position: absolute;bottom: 0.2rem;right: 0.2rem}

.bannerCell__info{flex: 1;padding: 0.5rem;position: relative}

.bannerCell__up{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: #ffffff;
    width: 2.48rem;
}
.bannerCell__up--img>img{
    width: 2.48rem;
    height: 2.02rem;
}
.bannerCell__up--info{
    padding: 15px;
}