.header{position: fixed;top: 0;left: 0;z-index: 9999}
.header__top{height:0.854rem;background-color: #ffffff}
.header__top .header__logo{
    margin:0 0.4rem;
    width:40%;
    display:inline-block;
    vertical-align: middle;
}
.header__logo>img{width: 100%}
.header__top>a{
    font-size: 24px;
    vertical-align: top;
    color: #000000;
    display: inline-block;
    line-height: 0.8rem;
    margin: 0 0.5%;
    text-align: center;
    width: 10%;
    height: 0.8rem;
   }
/*.header__main{background-position: -608px -555px}*/
/*.header__user{background-position: -333px -669px}*/
/*.header__search{background-position: -49px -626px}*/
/*.header__cart{background-position: -719px -91px}*/
.header__nav{
    height:0.6rem;
    background-color: #f2f2f2;
    padding: 0 20px;
    border-top:1px solid #d9d9d9;
}
.header__nav>ul{display: flex;justify-content: space-between}
.header__nav li{
    float: left;
    line-height: 0.6rem;
    font-size: 14px;
}
.header__nav li>a{color: #000}